<div><h3 class="heading">Details about user {{user.id}}</h3></div>

<div class="container">
  <div class="row">
      <a class="btn btn=primary" routerLink="/admin">Back to Admin User List</a>
  </div>

  <div class="row">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th>id</th>
          <th>username</th>
          <th>password</th>
          <th>first name</th>
          <th>last name</th>
          <th>email</th>
          <th>creation date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.password}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.creationDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>