<!-- Container -->
<div class="container">

    <!-- Login Box -->
    <div id="login-box">
      <!-- Main Card -->
      <div class="card">

        <!-- Card Heading -->
        <div class="card-header bg-primary">
          <h3 class="text-center">User Login</h3>
        </div>

        <!-- Card Body -->
        <div class="card-body">

          <!-- Form -->
          <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div *ngIf="validMessage != ''">
              <h5 class="has-info msg-error">{{validMessage}}</h5>
            </div>
            <div class="form-group">
                <label>email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="email@example.com" required autofocus/>
            </div>
            <div class="form-group">
              <label>password</label>
              <input type="password" class="form-control" formControlName="password" placeholder="Password" required/>
            </div>     
            <button type="submit" class="btn btn-success">Submit</button>
            <hr>
          </form>
          
          <!-- Sign up for new account -->
          <div>
            Don't have an account?
            <button class="btn btn-info login-signup-swap-btn" onclick="loginSignupSwap()">
                Sign Up Here
            </button>
          </div>

        </div>
      </div>
    </div>


  <!-- Signup Box -->
  <div id="signup-box" style="display: none">
    <!-- Main Card -->
    <div class="card">
      <!-- Card Heading -->
      <div class="card-header bg-info">
        <h3 class="text-center">New User Form</h3>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="submitNewUser()">
          <div *ngIf="validMessage != ''">
            <h4 class="has-info">{{validMessage}}</h4>
          </div>
          <div class="form-group">
            <label>username</label>
            <input type="text" class="form-control" formControlName="username" required autofocus/>
          </div>
          <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" required/>
          </div>
          <div class="form-group">
            <label>first name</label>
            <input type="text" class="form-control" formControlName="firstName" required/>
          </div>
          <div class="form-group">
            <label>last name</label>
            <input type="text" class="form-control" formControlName="lastName" required/>
          </div>
          <div class="form-group">
            <label>email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="email@example.com" required/>
          </div>
      
          <button type="submit" class="btn btn-success" >Submit</button>
        </form>

        <hr>
        <!-- Sign up for new account -->
        <div>
          Already have an account?
          <button class="btn btn-primary login-signup-swap-btn" onclick="loginSignupSwap()">
              Login Here
          </button>
        </div>

      </div>
    </div>
  </div>

</div>


