/* You can add global styles to this file, and also import other style files */

.heading {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.msg-error {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.msg-info {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.login-signup-swap-btn {
    float: right;
}